<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/RegisterStyle.css' %}" />
    <title>Пароль изменён</title>
</head>
<body>
    <header>
        <!-- <a href="" class="logo"><img src="{% static 'images/logo.png' %}" alt=""></a> -->
        <div class="loginOrReg">
            <span>У вас уже есть аккаунт?</span>
            <a href="{% url 'accounts:login' %}" class="btn reg">Авторизация</a>
        </div>
    </header>
    <div class="wrapper">   
        <div class="contaier">
            <div class="form">
                <h2>Пароль изменён</h2>
                <p class="password-reset-done">Ваш пароль был установлен. Вы можете<a href="{% url 'accounts:login' %}"> войти сейчас</a></p>
            </div>
        </div>
    </div>
</body>
</html>


