
<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/RegisterStyle.css' %}" />
    <title>Востановление пароля</title>
</head>
<body>
    
    <header>
        <!-- <a href="" class="logo"><img src="{% static 'images/logo.png' %}" alt=""></a> -->
        <div class="loginOrReg">
            <span>Нету аккаунта?</span>
            <a href="{% url 'accounts:register' %}" class="btn reg">Зарегистрироваться</a>
        </div>
    </header>

    <div class="wrapper">   
        <div class="contaier">
            <div class="form">
                <h2>Забыли пароль?</h2>
                
                <form method="POST" action="" enctype="multipart/form-data">
                    
                    {% csrf_token %}
                    <p class="enter-title">Введите адрес эллектронной почты:</p>
                    <div class="email inputFlex">
                        <div class="img"></div>
                            {{form.email}}
                        </div>
                    <div class="error">{{form.email.errors}}</div>
                    <input class="btn submit" type="submit" value="Отправить"></>
                    
                    
                </form>
            </div>
        </div>
    </div>

    

</body>
</html>