<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/RegisterStyle.css' %}" />
    <title>Сброс пароля</title>
</head>
<body>
    
    <header>
        <!-- <a href="" class="logo"><img src="{% static 'images/logo.png' %}" alt=""></a> -->
        <div class="loginOrReg">
            <span>У вас уже есть аккаунт?</span>
            <a href="{% url 'accounts:login' %}" class="btn reg">Авторизация</a>
        </div>
    </header>

    <div class="wrapper">   
        <div class="contaier">
            <div class="form">
                
                <h2>Сбросить пароль</h2>

                {% if validlink %}
                    <p class="password-reset-done">Пожалуйста, введите ваш новый пароль дважды</p>

                    <form action="." method="post">
                        {% csrf_token %}
                    <p class="enter-title">Новый пароль:</p>

                        <div class="password inputFlex">
                            <div class="img"></div>
                            {{ form.new_password1 }}

                        </div>
                    <div class="error">{{form.new_password1.errors}}</div>
                    
                    <p class="enter-title">Повторите новый пароль:</p>
                    <div class="password inputFlex">
                            <div class="img"></div>
                            {{ form.new_password2 }}
                    </div>
                    <div class="error">{{form.new_password2.errors}}</div>

                        <input class="btn submit" type="submit" value="Изменить пароль"/>
                    </form>

                {% else %}
                <p class="password-reset-done">Ссылка для сброса пароля была недействительной, возможно, потому что она уже использовалась. Пожалуйста, запросите новый пароль для сброса.</p>
                {% endif %}
            </div>
        </div>
    </div>

    

</body>
</html>


