<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/RegisterStyle.css' %}" />
    <title>Вход</title>
</head>
<body>
    
    <header>
        <!-- <a href="" class="logo"><img src="{% static 'images/logo.png' %}" alt=""></a> -->
        <div class="loginOrReg">
            <span>Нету аккаунта?</span>
            <a href="{% url 'accounts:register' %}" class="btn reg">Зарегистрироваться</a>
        </div>
    </header>

    <div class="wrapper">   
        <div class="contaier">
            <div class="form">
                <h2>Авторизация</h2>
                
                <form method="POST" action="{% url 'accounts:login' %}" enctype="multipart/form-data">
                    
                    {% csrf_token %}
                    <div class="username inputFlex">
                        <div class="img"></div>
                        {{form.username}}
                    </div>

                    <div class="password inputFlex">
                        <div class="img"></div>
                        {{form.password}}
                    </div>
                    <p><a href="{% url 'accounts:password_reset' %}">Забыли пароль?</a></p>
                    <input class="btn submit" type="submit" value="Авторизироваться" >
                    <input class="btn submit" type="hidden" name="next" value="{{ next }}" >
                    
                </form>
            </div>
        </div>
    </div>

    

</body>
</html>