<!DOCTYPE html>
{% load static %}
{% load profile_tags %}
<html lang="Ru-ru">
<head>
    <link rel="shortcut icon" href="{% static 'images/logo1.png' %}" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'libs/jquery/jquery-3.4.1.min.js' %}"></script>   
    <link rel="stylesheet" href="{% static 'libs/jquery/plugins/slick/slick.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://kit.fontawesome.com/591e17d896.js" crossorigin="anonymous"></script>
    {% block title %}
    <title>CyberPlace - компьютерный клуб</title>
    {% endblock %}
</head>
<body>
    <div class="wrapper">
    
        {% if user.is_authenticated and user.is_staff %}
        <div class="admin-panel">
            <a href="/admin">Админ панель</a>
        </div>
        {% endif %}
        <header>
            <div class="container">
            <div class="header__logo">
                <a href="{%url 'main:index' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
            </div>
            <nav class="nav__js">
                <div class="nav__list">
                    <a href="{%url 'main:index' %}" class="nav-item">Главная</a>
                    <a href="{%url 'news:news' %}" class="nav-item">Новости</a>
                    <a href="{%url 'forum:forum' %}" class="nav-item">Форум</a>
                    <a href="{% url 'main:info' %}" class="nav-item">Информация</a>
                </div>
            </nav>
                {% if user.is_authenticated %}
                <div data-id="{{user.id}}" class="profile__opinion logout">
                    <div class="profile__background">
                        
                        <a href="{% url 'profile:profile' user.slug %}"><img src="{{ user.image_small.url }}" alt=""></a>
                        <div class="links">
                            <a href="{% url 'profile:profile' user.slug %}">Профиль</a>
                            <a href="{% url 'accounts:logout'%} ">Выйти</a>
                        </div>
                    </div>
                </div> 
                {% else %}
                <div class="login"><a href="{% url 'accounts:login' %}?next={{request.path}}"><span class="fas fa-sign-in-alt"></span>Войти</a></div>
                {% endif %}
                <div class="header__burger"><span></span></div>
            </div>
            <!-- <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p> -->
        </header>











        {% block content%}
        <div class="container">
            {% if head_list %}

            <div class="Myslider">
                {% for new in head_list %}

                {% if new.header_image %}
                <div style="background-image: url({{new.header_image.url}})">
                {% else %}
                    <div style="background-image: url('/media/pejzazh_art_doroga_127350_1600x900.jpg')">
                {% endif %}
                    <div class="slider-title">
                        <div>
                            <h2>{{new.title}}</h2>
                        </div>
                    </div>
                    <div class="slider-text">
                        <div>
                            <p>{{new.small_text|safe}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            
            <div class="main-page-title"><a href="{% url 'news:news' %}">Новости</a></div>
            <div class="news__list">
                <div class="news__list-flex">
                    {% for new in news_list|slice:":6" %}
                    <article class="news__list-item">
                        <div class="item-img">
                            <figure><img src="{{new.image_small.url}}" alt=""></figure>
                        </div>
                    
                        <div class="item-info item-info-main">
                            <time datetime="{{new.date_pub}}">{{new.date_pub}}</time>
                            <div class="item-title">
                            <a href="{% url 'news:newsDetail' new.id %}">{{new.title}}</a> 
                            </div>
                        </div>
                        <div class="post-footer">
                            <div class="author">
                                <a href="{% url 'profile:profile' new.author.slug %}">
                                    <img src="{{new.author.image.url}}" alt="">
                                    <p>{{new.author.username}}</p>
                                </a> 
                            </div>
                            <span class="post-rait">
                                <span class="fas fa-heart">
                                    <span class="likes">{{new.votes.sum_rating}}</span>
                                </span>
                                <span class="comments-count"></span>
                            </span>
                        </div>
                    </article>
                    {% endfor %}

                </div>
                <a href="{% url 'news:news' %}" class="news__more">Больше новостей</a>
            </div>


            <div class="main-page-title"><a href="{% url 'forum:forum' %}">Форумы</a></div>
            <div class="main-forum">
                <table>
                    <thead><tr><th >Тема</th><th>Форум</th><th class="text-center">Ответы</th></tr></thead>
                    <tbody>
                    {% for forum in forumMiddle %}
                        
                    <tr>
                        <td >
                            <div class="item-title">
                                <a href="{% url 'forum:forumMiddle' forum.forumTop.id forum.id %}">{{forum.name}}</a>
                            </div>
                        </td>
                        <td class="game-title">
                            <a href="{% url 'forum:forumTop' forum.forumTop.id %}">{{forum.forumTop.name}}</a>
                        </td>
                        <td class="text-center">{{forum.post_count}}</td>
                    </tr>

                    {% endfor %}
                    </tbody>

                </table>
            </div>

            



        </div>
        {% endblock %}

        <div class="footer">
            
            <div class="coperite">
                <strong>Copyright © 2019-2020</strong>
            </div>
            <div class="footer-links">
                <ul>
                    <li><a class="inst" title="Инстаграм Клин" href="https://www.instagram.com/cyber__place/?igshid=1odgo49e05gf2"><i class="fab fa-instagram"></i></a></li>
                    <li><a class="vkont" title="Вконтакте" href="https://vk.com/cyberplace_klin"><i class="fab fa-vk"></i></a></li>
                    <li><a class="inst" title="Инстаграм Солнечногорск" href="https://www.instagram.com/cyberplace_solnecnogorsk/"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>

    </div>


{% block beforewrapper %}
{% endblock %}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="{% static 'libs/jquery/plugins/slick/slick.min.js' %}"></script>
<script src="{% static 'js/myscript.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slider.js' %}"></script>

</body>
</html>