{% extends 'index.html' %}
{% block title%}
<title>CyberPlace - компьютерный клуб</title>
{% endblock %}
{% block content %}
{% load profile_tags %}

<div class="container">
    <div class="main-info">
        <h2 class='title'>Компьютерный клуб <span>CyberPlace</span></h2>
        <div class='about'>
            <p>CYBERPLACE - сеть киберспортивных клубов (компьютерных клубов). Первый компьютерный клуб, взявший начало в городе Клин с большим потенциалом! Мы также располагаемя в Лобне и Солнечногорске. У нас постоянно проводятся различные ивенты, турниры и состязания.</p> 
            <ul>
                <p>Мы предоставляем:</p>
                <li>Профессиональное игровое оборудование.</li>
                <li>Клубные аккаунты с платными играми.</li>
                <li>Отзывчивый персонал.</li>
                <li>Приятная атмосфера игрового характера.</li>
            </ul>
            <p>Вы сможете поиграть в различные игры как на мощном ПК, так и на PS4 pro.</p>
            <br>
            <p>Контактные данные:</p>
            <p class="phone">Телефон: +7 (999) 881-96-18</p>
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8a42da99b66e144af9165c67a318df198a2fcc3fb15aa8cf05908833acbbbaf4&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>

</div>

{% endblock %}